<launch>
  <arg name="robot_name" />

  <arg name="device_name"        default="/dev/pan_motor" unless="$(eval robot_name == 'beep' or robot_name =='boop')"/>
  <arg name="device_name"        default="/dev/tty_motor_pan" if="$(eval robot_name == 'beep' or robot_name =='boop')"/>

  <arg name="baud_rate"          value="57600" if="$(eval robot_name == 'beep' or robot-name == 'boop')" />
  <arg name="baud_rate"          value="1000000" unless="$(eval robot_name == 'beep' or robot-name == 'boop')"/>
  <arg name="protocol_version"   default="2.0"/>

  <arg name="pan_id"             default="1"/>

  <param name="device_name"      value="$(arg device_name)"/>
  <param name="baud_rate"        value="$(arg baud_rate)"/>
  <param name="protocol_version" value="$(arg protocol_version)"/>

  <param name="pan_id"           value="$(arg pan_id)"/>

  <node name="poli_pan_position_control" pkg="poli_pan_tilt" type="poli_pan_position_control" output="screen">
    <rosparam>
      profile_velocity: 100
      profile_acceleration: 10
    </rosparam>
  </node>
</launch>
