<launch>
  <arg name="robot_name" default="moe"/>

  <node pkg="rosserial_python" type="serial_node.py" name="led_driver_node">
        <param name="port" value="/dev/cu.teensy.p0483" unless="$(eval robot_name=='beep' or robot_name=='boop')"/>
	<param name="port" value="/dev/tty_arduino" if="$(eval robot_name=='beep' or robot_name=='boop')"/>
        <param name="baud" value="57600"/>
  </node>

</launch>
