<launch>
    <arg name="map_file" default="lab"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find poli_navigation_apps)/maps/$(arg map_file).yaml" />

    <include file="$(find poli2_launch)/launch/move_base.launch"/>

    <!-- Bringup lidar scan merger -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <param name="cloud_destination_topic" value="/cloud_merged"/>
        <param name="scan_destination_topic" value="/scan_merged"/>
        <param name="laserscan_topics" value ="/scan_front /scan_rear"/>
        <param name="angle_min" value="-3.14"/>
	<param name="angle_max" value="3.14"/> 
   </node>

    <!--- Run amcl -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen" clear_params="true">
        <rosparam command="load" file="$(find poli2_launch)/config/amcl.yaml"/>
        <remap from="scan" to="/scan_merged" />
    </node>

</launch>
