<?xml version="1.0"?>
<launch>
    <arg name="robot_name" value="tablebot"/>

    <!-- Bring up Jaco arm-->
    <include file="$(find poli2_launch)/launch/kinova_arm_standalone.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="gripper_comport" value="/dev/tty_gripper"/>
    </include>
<!-- 
    <node
        name="collision_scene"
        pkg="poli2_launch"
        type="setup_$(arg robot_name)_collision_scene.py"
    /> -->



</launch>
