<launch>
  <arg name="robot_name" default="moe"/>
  <arg name="start_manipulation" default ="false"/>
  <arg name="start_navigation" default="false"/>

  <rosparam param="ROBOT_NAME">"poli2"</rosparam>
  
  <!-- TODO: maybe make this be conditional on "moe" or not "moe", because Barton and Lupe will not have the same URDF presumably -->
  <arg name="robot_description_file" value="$(find poli2_description)/robots/$(arg robot_name).urdf.xacro"/>

  <!-- Start vacuum pump driver -->
  <!-- <include file="$(find poli2_launch)/launch/torso/gripper_pump.launch"/> -->

  <include file="$(find poli2_launch)/launch/robot_state_publishers.launch">
    <arg name="use_segway" value="$(eval robot_name=='moe')"/>
    <arg name="robot_description_file" value="$(arg robot_description_file)"/>
  </include>

  <!-- Moe -->
  <group if="$(eval robot_name=='moe')"> <!-- stuff only working on moe right now-->
    <!-- Bring up pan tilt motors -->  
    <include file="$(find poli_pan_tilt)/launch/pan_tilt.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- Start LED driver and pan/tilt zero switch manager-->
    <include file="$(find poli2_launch)/launch/torso/led_controller.launch"/>
  </group>

  <!-- Barton and Lupe -->
  <group unless="$(eval robot_name=='moe')">
    <!-- Bring up pan motor only -->  
    <include file="$(find poli_pan_tilt)/launch/pan_control.launch">
	    <arg name="baud_rate" value="57600"/>
    </include>
  </group>

  <!-- Bring up Jaco arm-->
  <include file="$(find poli2_launch)/launch/torso/kinova_arm.launch">
    <arg name="comport" value="/dev/robotiq"/>
  </include>

  <group if="$(arg start_manipulation)">
    <include file="$(find poli2_launch)/launch/manipulation.launch">
      <arg name="robot_description_file" value="$(arg robot_description_file)"/>
    </include>
  </group>

  <group if="$(arg start_navigation)">
    <group if="$(eval robot_name=='moe')"> <!-- stuff only working on moe right now-->    
    <!-- Bring up base drivers -->
      <include file="$(find poli2_launch)/launch/segway_base/base_bringup.launch"/>
    </group>
    <include file="$(find poli2_launch)/launch/navigation.launch"/>
  </group>
 
</launch>
