<?xml version="1.0"?>
<!--
Copyright (c) 2018, The University of Texas at Austin
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!-- DEPRECATED - navigation is primarily handled by the fetch (probably) -->
<launch>
<!--
  <arg name="map_file" default="lab"/>

   Run the map server 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find poli_navigation_apps)/maps/$(arg map_file).yaml" />

  <include file="$(find poli2_launch)/launch/segway_base/move_base.launch"/>

   Run amcl 
  <node pkg="amcl" type="amcl" name="amcl" output="screen" clear_params="true">
    <rosparam command="load" file="$(find poli2_launch)/config/amcl.yaml"/>
    <remap from="scan" to="/scan_merged" />
  </node>

   velocity command multiplexer 
  <group ns="poli2">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
      <param name="yaml_cfg_file" value="$(find poli2_launch)/config/cmd_vel_mux.yaml"/>
    </node>
  </group>
-->
</launch>
