<launch>
  <arg name="use_segway" default="true"/>
  <arg name="robot_description_file"/>
  
  <group if="$(arg use_segway)">
    <arg name="robot_name" value="RMP_110"/>
    <arg name="urdf_file" value="$(arg robot_description_file)" />
    <!-- launch the appropriate urdf description, as well as the corresponding tf tree -->
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(arg urdf_file)' robot_name:=$(arg robot_name)" />
  </group>

  <group unless="$(arg use_segway)"> <!--this will need to change-->
    <arg name="robot_name" value="RMP_110"/> 
    <arg name="urdf_file" value="$(arg robot_description_file)" />
    <!-- launch the appropriate urdf description, as well as the corresponding tf tree -->
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(arg urdf_file)' robot_name:=$(arg robot_name)" />
  </group>
    
  <!-- launch the tf tree for base -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="use_tf_static" value="false"/>
    <param name="use_gui" value="false" />
  </node>

  <!-- tf tree for pillar actuator -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="pillar_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <remap from="joint_states" to="pillar/joint_state"/>
  </node>

  <group if="$(arg use_segway)">
    <!-- launch the joint state publisher to default values -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="rmp_joint_state_publisher">
      <rosparam param="source_list">["/segway/rmp_joint_states", "/pillar/joint_states", "/pan_motor/joint_state", "/tilt_motor/joint_states", "/j2s7s300_driver/out/joint_state"]</rosparam>
      <rosparam param="rate">100</rosparam>
    </node>
  </group>

  <!--this will need to change-->
  <group unless="$(arg use_segway)"> 
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="rmp_joint_state_publisher">
      <rosparam param="source_list">["/pillar/joint_states", "/pan_motor/joint_state", "/tilt_motor/joint_states", "/j2s7s300_driver/out/joint_state"]</rosparam>
      <rosparam param="rate">100</rosparam>
      <!-- The following rosparam is just for the temporary necks on lupe and barton-->
      <rosparam>
        zeros:
          tilt_joint: -0.4
      </rosparam>
    </node>
  </group>
</launch>
