<?xml version="1.0"?>
<launch>

	<!-- Load the controllers -->
	<rosparam file="$(find poli2_gazebo)/config/arm_controller_jaco.yaml" command="load" />
	<rosparam file="$(find poli2_gazebo)/config/pan_tilt_controller.yaml" command="load" />
	<rosparam file="$(find poli2_gazebo)/config/gripper_controller_robotiq.yaml" command="load" />

	<!-- Startup the ROS control manager -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="j2s7s300 tilt_sim_controller pan_sim_controller"/>

	<!-- Initialize the arm -->
	<node name="arm_sim_setup" pkg="poli2_gazebo" type="body_part_setup.py" output="screen" args="j2s7s300">
		<param name="init_position" value="0, 3.14, 0, 3.14, 0, 3.14, 0"/>
	</node>

	<!-- Initialize the head -->
	<node name="head_sim_setup" pkg="poli2_gazebo" type="body_part_setup.py" output="screen" args="tilt_sim_controller -0.5">
	</node>

</launch>
