<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="tf_prefix" default="" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />
  <arg name="urdf_file" default="$(find poli2_description)/robots/poli_wrapper.urdf.xacro" />
  

  <!-- Segway Base platform ROS Driver -->
  <node pkg="segway_ros" ns="segway" type="segway_driver" name="segway_driver" respawn="true" output="screen">
    <param name="platform" value="$(optenv SEGWAY_BASE_PLATFORM false)" />
  </node>

  <!-- Platform specific configuration -->
  <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam"
    args="load /segway/segway_driver $(find poli_launch)/config/segway_110_params.yaml" />
        
  <!-- BWI wrapper around Stanley's driver -->
  <node pkg="poli_launch" name="segbot_v3_controller" type="segbot_v3_controller">
    <param name="robot_frame_id" value="$(arg tf_prefix)/base_link" />
    <param name="odom_frame_id" value="$(arg tf_prefix)/odom" />
  </node>
  
  <include file="$(find poli_launch)/launch/base_bringup.aux.launch">
    <arg name="urdf_file" value="$(arg urdf_file)"/>
  </include>

</launch>

