<?xml version="1.0"?>
<launch>

   <arg name="use_arm_urdf" default="true"/>

  <!-- the version of kinova_robot.launch run must be edited s.t. no code under the urdf groups are run -->
  <include file="$(find kinova_bringup)/launch/arm.launch">
  </include>

  <!-- run the gripper -->
  <include file="$(find wsg_50_driver)/launch/wsg_50_tcp_script.launch">
    <arg name="com_mode" value="auto_update"/>
    <param name="ip" value="10.66.171.21"/>
    <param name="js_prefix" value="wsg"/>
  </include>

  <node name="gripper_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>

  <node name="arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="/j2s7s300_driver/out/joint_state"/>
  </node>

  <!-- runs the arm in standalone form -->
  <group if="$(arg use_arm_urdf)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find poli2_description)/robots/jaco2_custom_wrapper.xacro'" />
  </group>

</launch>
