<launch>

  <!-- Front hokuyo laser -->
  <node name="front_urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="10.66.171.11"/>
    <param name="frame_id" value="front_laser_link"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
    <remap from="scan" to="scan_front"/>
  </node>


  <!-- Rear hokuyo laser --> 
  <node name="rear_urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="10.66.171.12"/>
    <param name="frame_id" value="rear_laser_link"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
    <remap from="scan" to="scan_rear"/>
  </node>


</launch>
