<launch>
    <arg name="sim" default="true"/>
    <arg name="no_static_map" default="true"/>

    <!-- Launch segway move-base client status tracker-->
    <node pkg="segway_ros" type="segway_move_base" name="segway_move_base" clear_params="true">
        <param name="sim" value="$(arg sim)"/>
        <param name="using_amcl" value="false"/>
        <param name="base_frame" value="base_link"/>
        <param name="global_frame" value="/odom"/>
        <param name="goal_timeout_sec" value="300"/>
    </node>

    <!-- Launch move base action server -->
    <node pkg="move_base" type="move_base" name="move_base" clear_params="true">
        
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        
        <remap from="move_base/goal" to="move_base_navi/goal" />
        <remap from="move_base/result" to="move_base_navi/result" />
        <remap from="move_base/feedback" to="move_base_navi/feedback" />
        <remap from="move_base/status" to="move_base_navi/status" />
        <remap from="move_base/cancel" to="move_base_navi/cancel" />
        <remap from="move_base_simple/goal" to="move_base_navi_simple/goal"/>

        <!-- Load common configuration files -->
        <rosparam file="$(find vector_navigation_apps)/config/common/base_planner_params.yaml" command="load" />
        <rosparam file="$(find vector_navigation_apps)/config/common/move_base_params.yaml" command="load" />
        <rosparam file="$(find vector_navigation_apps)/config/common/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find vector_navigation_apps)/config/common/costmap_common_params.yaml" command="load" ns="local_costmap" />
        
        <!-- Load global/local costmap specific parameters -->
        <rosparam file="$(find vector_navigation_apps)/config/costmaps/costmap_local.yaml" command="load"/>
        <rosparam file="$(find vector_navigation_apps)/config/costmaps/costmap_global_sensors.yaml" command="load" if="$(arg no_static_map)"/>
        <rosparam file="$(find vector_navigation_apps)/config/costmaps/costmap_global_map.yaml" command="load" unless="$(arg no_static_map)"/>
</node>
    
</launch> 
