<?xml version="1.0"?>
<launch>
    <arg name="paused" default="false" />
    <arg name="gui" default="false" />
    <arg name="world" default="worlds/empty.world" />
    <arg name="room" default="$(find hlpr_gazebo)/launch/simple_room.launch" />
    <arg name="robot_description" default="$(find poli2_description)/launch/poli_upload.launch"/>

    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(arg world)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- simple world -->
    <include file="$(arg room)"/>

    <!-- send robot urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find poli2_description)/robots/poli_wrapper.urdf.xacro'"/>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot " respawn="false" output="screen" />

    <!-- Setup all of the TFs, states, etc. --> 
    <include file="$(find hlpr_gazebo)/launch/state_publishers.launch"/>

</launch>
