<launch>

    <!-- Bringup lidar scan merger
	 Note that this node prevents navigation from working if it is 
 	 started before its dependent topics are started (/scan_front and /scan_rear)
    -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <param name="cloud_destination_topic" value="/cloud_merged"/>
        <param name="scan_destination_topic" value="/scan_merged"/>
        <param name="laserscan_topics" value ="/scan_front /scan_rear"/>
        <param name="angle_min" value="-3.14"/>
        <param name="angle_max" value="3.14"/>
   </node>

</launch>
