<?xml version="1.0"?>
<launch>
      <!-- joy node -->
      <node respawn="true" pkg="joy" type="joy_node" name="node_joy" >
        <remap from="joy" to="ps/joy"/>
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
      </node>

      <node pkg="poli_navigation_apps" type="playstation_teleop.py" name="playstion_teleop"/>

</launch>
