<launch>

  <rosparam param="ROBOT_NAME">"poli2"</rosparam>
  
  <!-- Start vacuum pump driver -->
  <include file="$(find poli_launch)/launch/poli1_upstart/gripper_pump.launch"/>

  <!-- Start pillar driver and encoder clearing utility -->
  <include file="$(find poli_launch)/launch/poli1_upstart/pillar.launch"/>
  
  <!-- Start LED driver and pan/tilt zero switch manager | commented out for led debugging SM -->
  <!-- include file="$(find poli_launch)/launch/poli1_upstart/led_controller.launch"/ -->

</launch>
