<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

Copyright (c) 2017, University of Texas Austin
Author Maxwell Svetlik

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Stanley Innovation, Inc. nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="poli2_freight" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF/XACRO Files -->
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/battery.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/i2_wheel.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/caster_assembly_110.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/powerbase_110.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/hmi_box_110.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/segway_components/hmi_plate_110.urdf.xacro" />
    <xacro:include filename="$(find poli2_description)/urdf/freight/freight.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/sensors/hokuyo_ust10lx.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/sensors/hokuyo_ust30lx.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/sensors/astra.urdf.xacro"/>

    <xacro:include filename="$(find poli2_description)/urdf/poli_components/base_plate.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/poli_components/rmp_plate2.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/poli_components/rmp_plate3.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/poli_components/pillar.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/poli_components/torso.urdf.xacro"/>
    <xacro:include filename="$(find poli2_description)/urdf/poli_components/neck_mount.urdf.xacro"/>

    <xacro:include filename="$(find kinova_description)/urdf/j2s7s300.xacro" />

    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:property name="HALF_PI" value="1.57079"/>
    <xacro:property name="FRONT_LASER_PREFIX" value="front"/>
    <xacro:property name="REAR_LASER_PREFIX" value="rear"/>

    <!-- Wheel Mounting Positions -->
    <xacro:property name="track" value="0.48122440" />
    <xacro:property name="wheel_vertical_offset" value="0.08255015" />

    <!-- Wheel Properties -->
    <xacro:property name="wheel_length" value="0.09224900" />
    <xacro:property name="wheel_radius" value="0.2405681" />

    <xacro:macro name="freight_robot">
        <gazebo>
          <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
              <robotNamespace>/</robotNamespace>
          </plugin>
            <plugin name="object_controller" filename="libgazebo_ros_force_based_move.so">
                <commandTopic>/cmd_vel</commandTopic>
                <odometryTopic>/odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <odometryRate>30.0</odometryRate>
                <robotBaseFrame>base_link</robotBaseFrame>
                <publishOdometryTf>1</publishOdometryTf>
                <yaw_velocity_p_gain>100.0</yaw_velocity_p_gain>
                <x_velocity_p_gain>10000.0</x_velocity_p_gain>
                <y_velocity_p_gain>10000.0</y_velocity_p_gain>
          </plugin>
        </gazebo>

        <!-- Base link is the center of the robot's chassis between the motors projected on the ground -->
        <xacro:freight_base/>

    <xacro:pillar parent="base_link">
        <origin xyz="0.06 -0.07 0.3575" rpy="${HALF_PI} 0 ${M_PI}"/>
    </xacro:pillar>

	<!-- Torso -->

        <xacro:torso parent="pillar_base_link">
            <origin xyz="0.06717 -0.0308 0.06717" rpy="0 ${M_PI} 0"/>
        </xacro:torso>

        <xacro:neck_mount parent="torso_link">
            <origin xyz="0 0.7125 0" rpy="-${HALF_PI} ${M_PI} 0"/>
        </xacro:neck_mount>

	<!-- Poli Jaco Arm -->
	<xacro:j2s7s300 base_parent="torso_link" trans="0.18365 0.33377 0.14557" rot="-${HALF_PI} ${HALF_PI} 0">
	</xacro:j2s7s300>

        <!-- Poli Sensors -->


        <link name="camera_placement_link"/>
        <joint name="camera_placement_joint" type="fixed">
            <parent link="tilt_link"/>
            <child link="camera_placement_link"/>
            <origin xyz="-0.195 0.0835 0" rpy="0 0 ${HALF_PI+1.0472}"/>
        </joint>
<!--         <xacro:sensor_astra parent="tilt_link">
	    
        </xacro:sensor_astra> -->



    </xacro:macro>

</robot>
