<launch>

  <rosparam param="ROBOT_NAME">"poli2"</rosparam>

  <!-- Bring up navigation stack -->
  <include file="$(find poli2_launch)/launch/map_navigation.launch"/>

  <!-- Bring up pan tilt motors -->  
  <include file="$(find poli_pan_tilt)/launch/pan_tilt.launch"/>

  <!-- Bring up astra camera | commented out for intel camera testing -SM  -->
  <!-- include file="$(find astra_launch)/launch/astra.launch"/-->

  <!-- Bring up base drivers -->
  <include file="$(find poli2_launch)/launch/base_bringup.launch"/>

</launch>
