<?xml version="1.0"?>
<launch>

    <!-- Warning: if you set use_hlpr_traj false, you cannot execute a trajectory through moveit -->
    <arg name="driver_launch" default="false" />
    <arg name="use_hlpr_traj_exec" default="true" />
    <arg name="sim" default="false" />
    <arg name="use_octomap" default="false" />
    <arg name="custom_sdf" default="$(find poli2_moveit_config)/config/j2s7s300.srdf"/>

    <include file="$(find poli2_moveit_config)/launch/planning_context.launch">
    	<arg name="load_robot_description" value="true"/>
    </include>

    <!-- Run the main MoveIt executable with trajectory execution -->
    <include file="$(find poli2_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="$(arg use_hlpr_traj_exec)"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
