<launch>
    <arg name="sim" default="false"/>
    <arg name="no_static_map" default="true"/>

    <!-- Launch move base action server -->
    <node pkg="move_base" type="move_base" name="move_base" clear_params="true">
        <remap from="cmd_vel" to="/poli/navigation/cmd_vel" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />
        
        <remap from="move_base/goal" to="move_base_navi/goal" />
        <remap from="move_base/result" to="move_base_navi/result" />
        <remap from="move_base/feedback" to="move_base_navi/feedback" />
        <remap from="move_base/status" to="move_base_navi/status" />
        <remap from="move_base/cancel" to="move_base_navi/cancel" />
        <remap from="move_base_simple/goal" to="move_base_navi_simple/goal"/>

	<rosparam file="$(find poli2_launch)/config/planner/move_base.yaml" command="load" />
        <rosparam file="$(find poli2_launch)/config/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find poli2_launch)/config/costmap/costmap_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find poli2_launch)/config/costmap/costmap_local.yaml" command="load" />
        <rosparam file="$(find poli2_launch)/config/costmap/costmap_global.yaml" command="load" />
        <rosparam file="$(find poli2_launch)/config/planner/eband_planner.yaml" command="load"/>

    </node>
    
</launch> 
